[2016-06-19 14:00] cmmovius opened #37 "Dashboard: Inventory Summary Does Not Show Correct Contents"
On [localhost:3000/dashboard](http://localhost:3000/dashboard):
<img width="519" alt="screen shot 2016-06-19 at 9 57 13 am" src="https://cloud.githubusercontent.com/assets/15206696/16177785/825b8e58-3604-11e6-8ecd-c15087ba8425.png">

[2016-06-19 14:16] cmmovius opened #40 "Create functionality so user can "unlock" a completed donation"
Currently, once a user marks a donation as completed, they are no longer able to create, edit, or delete items. In case a user makes an error, they should be able to "unlock" a donation by reverting it to `complete: false` so the user can make adjustments to prior completed donations.

[2016-06-19 14:33] cmmovius opened #41 "Filters on Index Pages: Current Filters displays 'None' when there is a filter applied"
Current view:
<img width="1036" alt="screen shot 2016-06-19 at 10 29 52 am" src="https://cloud.githubusercontent.com/assets/15206696/16177941/fb379d18-3608-11e6-9464-753f9e62e9ce.png">
However, "Current Filter" should list the filters that have been applied rather than the word "none". This is an issue across multiple index views (e.g. items, barcodes).

[2016-06-19 14:43] cmmovius opened #42 "Filters on Index Pages: End Date is exclusive rather than inclusive"
All of these items were created on 6/19:
Filter 6/18-6/20 displays items
<img width="1053" alt="screen shot 2016-06-19 at 10 40 03 am" src="https://cloud.githubusercontent.com/assets/15206696/16177990/5eca17e2-360a-11e6-96a7-0bd5f3bcd7de.png">
Filter 6/18-6/19 does not display items created on 6/19
<img width="1062" alt="screen shot 2016-06-19 at 10 40 16 am" src="https://cloud.githubusercontent.c

[2016-06-19 15:02] cmmovius opened #43 "New Ticket Error: undefined method 'name'"
This happens when I submit a new ticket:
<img width="1058" alt="screen shot 2016-06-19 at 11 00 26 am" src="https://cloud.githubusercontent.com/assets/15206696/16178089/47da4ae0-360d-11e6-9a6e-4f6a154c0f17.png">

[2016-06-19 16:15] tmobaird opened #51 "Dashboard Date Range Filter Validate Date Range"
Need to update Date Range filter to make sure that there are some constraints on the date ranges that can be added. Ex. date ranges with end date before start date.

[2016-06-19 22:10] tmobaird commented on #40
I can take this one :+1:

[2016-06-19 22:11] tmobaird commented on #37
I'll take this as well. I've been working on the stats on the dashboard, so I might as well take this unless someone else wants to

[2016-06-20 12:40] armahillo commented on #37
I've got a commit in progress on this one - I'll push it up so that you can finish it off.

[2016-06-20 13:23] tmobaird commented on #37
@armahillo awesome :+1:. I'll finish the dashboard Donation total stats when I get a chance

[2016-06-20 18:57] armahillo commented on #41
This appears to be re known bug in ActiveAdmin:
https://github.com/activeadmin/activeadmin/issues/4342

The fix is to `bundle update active_admin` to version 1.0.0-pre2  [TODO]

[2016-06-20 19:02] armahillo commented on #42
This is a known behavior of ActiveAdmin, though I am in agreement it should be addressed.

https://github.com/activeadmin/activeadmin/issues/2387 (see also: https://github.com/activeadmin/activeadmin/issues/2374 )

There are patches shown in both.

[2016-06-21 04:02] tmobaird opened #53 "Add Graphs / Charts to Dashboard"
Hey peeps 🐤, I'm updating the dashboard page a bit and I wanted to know if you all have any suggestions about the types of charts that we should display. Here are some of the examples I have so far for the donations:

<img width="454" alt="screen shot 2016-06-20 at 11 58 48 pm" src="https://cloud.githubusercontent.com/assets/7366444/16217632/3caa2c3a-3743-11e6-8c78-1c2dfdff50a9.png">

<img width="

[2016-06-21 12:31] armahillo commented on #53
Nice!!

A couple charts I think Rachel would probably like:
- A bar chart showing current totals of all different type of item across all locations (so she knows if she's getting low on something) -- bonus points if its a stacked bar graph where each layer is a different location
- A line chart that shows donation totals vs. ticket totals -- this will require some complicated AREL querying. LMK if

[2016-06-21 23:43] armahillo commented on #43
@cmmovius I created a ticket successfully and did not encounter this. Are you able to re-create this bug and if so, can you list out the steps you did to produce it?

It's possible that this behavior was fixed by @cattywampus in the eleventh hour -- I know he did a couple commits to that feature.

[2016-06-21 23:48] armahillo opened #54 "Workflow for Creating a Donation is different than Creating a ticket"
## Currently:
- When creating a donation, you create the donation and then add stuff to it.
- When creating a ticket, you first open a ticket, add stuff to it, then create it.
## Expected
- Both processes would function similarly.
## TODO

I _think_ the latter is more intuitive, though it would be important to ensure that the barcode process is still preserved in that (you can just type ina series

[2016-06-22 00:13] armahillo opened #55 "n+1 behavior with Item view"
### Current
 1. Browse to `/items` with a log tailing
 2. Count(*) is run for each individual item when calculating how many `BarcodeItem`s are attached

## Desired
 1. Browse to `/items` with a log tailing
 2. Count(*) is run only once *or* count is tracked some other way

[2016-06-22 00:42] #55 closed

[2016-06-22 00:42] armahillo commented on #42
See previous commit -- this issue has been fixed!

[2016-06-22 00:42] #42 closed

[2016-06-22 03:04] tmobaird commented on #53
@armahillo How's this look for the bar chart?

<img width="454" alt="screen shot 2016-06-21 at 11 02 58 pm" src="https://cloud.githubusercontent.com/assets/7366444/16253405/5d81f1c4-3804-11e6-8b07-ddec14a311ec.png">

 You can hover over the bars and see the exact totals as well.

I'll tackle the line chart over the next few days. I might need some help with that at some point 😬

[2016-06-22 03:36] armahillo commented on #53
DUDE.

perfect.

[2016-06-22 03:42] tmobaird commented on #53
@armahillo ![image](https://cdn.meme.am/instances/500x/51576797.jpg)

[2016-06-22 12:47] armahillo commented on #53
Fun thing I learned yesterday, if you reference "Issue #XXXX" in your commit message, when you push Github will automatically tag that issue with the a commit note. You can even reference multiple commits! :)

[2016-06-22 12:47] armahillo commented on #53
@tmobaird Do you think this issue has been resolved with your recent commit, or is there more that needs to be added still?

[2016-06-22 13:08] tmobaird commented on #53
@armahillo the only thing that needs to be added is the line chart for donation vs. ticket totals. You can close out this issue if you want, and I can create a separate issue for that one though.

[2016-06-22 13:09] armahillo commented on #53
Seems like it fits with this issue. :)

When you do your next commit, include "Issue #53" somewhere in the commit message and it'll tag it here

[2016-06-22 13:11] tmobaird commented on #53
Sounds good, will do! :+1:

[2016-06-22 13:14] christine-sm commented on #43
@armahillo I recreated this issue this morning. I went to [localhost:3000/tickets/new](http://localhost:3000/tickets/new) and tried to create the following ticket:
![screen shot 2016-06-22 at 9 10 08 am](https://cloud.githubusercontent.com/assets/15206696/16267790/9936044e-3859-11e6-923e-b50f1e4c6f8f.png)
When I hit "Create Ticket" I get the following:
![screen shot 2016-06-22 at 9 14 24 am](https

[2016-06-22 13:16] armahillo commented on #43
Perfect, thanks! :+1:  I will use that info to re-attempt. Is your local repo sync'd with origin?

[2016-06-22 13:16] christine-sm commented on #53
@armahillo that is really cool how you can link the commits and issues 😎 . @tmobaird the charts look great!!

[2016-06-22 13:19] armahillo commented on #53
@cmmovius IKR? I found out by accident while patching the issues you created yesterday. :)  magical git-hooks!

[2016-06-22 13:23] tmobaird commented on #53
![magic](http://s2.quickmeme.com/img/40/4054c9dfdce4b53c094010582496c2bb8e7a8944d3315bff05dd7327b4c7a3e3.jpg)

Great git tip! And thanks @cmmovius!! Chartkick really made adding them super easy!

[2016-06-22 13:26] christine-sm commented on #43
Yep! I `git pull`ed before doing this

[2016-06-22 13:27] armahillo commented on #43
OK Excellent. I will look into this today -- thanks!

On Wed, Jun 22, 2016 at 9:26 AM Christine Movius notifications@github.com
wrote:

[2016-06-23 04:20] cattywampus commented on #43
Yeah, looks like the issue is definitely reproducible for tickets with blank containers (i.e., all fields for a particular container are blank). I should be able to whip up a fix for this.

[2016-06-23 13:48] #43 closed

[2016-06-23 13:50] armahillo commented on #43
Sweet! Thanks!!!! :100:

[2016-06-24 01:30] #51 closed

[2016-06-24 19:24] tmobaird commented on #37
@armahillo what exactly do we want to display in the Inventory Summary panel on the dashboard?

[2016-06-24 23:13] cattywampus commented on #54
I agree that the two workflows should behave similarly to the user and that the 2nd option might be more intuitive. Currently when a user creates a donation, they don't actually define any donated items but the button says `Create Donation` which might be confusing.

That being said, the current implementation does lend itself nicely to allowing users to add multiple items manually or with barcode

[2016-06-26 20:29] armahillo commented on #54
I agree that we should consult with Rachel (customer) about this.

I hadn't considered the potential JS complication when doing the barcode wizardry -- that's a good point. Perhaps we could do a hybrid solution? In-flight Donations are still supported so they can "save and return later" but the primary workflow is closer in functionality to Ticketing?

Just spitballing here:
1. User starts new don

[2016-06-26 21:06] #41 closed

[2016-06-26 21:14] armahillo commented on #37
@tmobaird
If you can just get the inventory table to show the current totals at each location (it's _mostly_ there but needs some massaging to make the bits show up under the correct column). It's kinda messy right now but the heavy lifting is post-query so it's at least not hammering the DB too hard (or shouldn't be!)

![5e82f859acec0d6c4a5c1cb451912dcd](https://cloud.githubusercontent.com/assets

[2016-06-26 21:53] armahillo commented on #40
OK -- I'm poking through this. I've got a basic idea on how to do the reversion but one gotcha I'm seeing is this:
1. Reverting a donation needs to check that there is adequate inventory on hand to revert the donation (since the donation has already been "completed", the Inventory.intake! has already been run)
2. BUT! It's possible that inventory is being held at multiple locations... We would bas

[2016-06-26 23:20] armahillo commented on #37
@cattywampus Merged and added my fixes afterwards.

I reworked a couple of the helper methods to accept arrays for the first argument -- it's backwards compatible -- there MIGHT be redundancies introduced by this (ie. we might be able to DRY up the helper file further) but it now does more efficient WHERE clausing by passing an array when provided. AREL FTW. :+1:

I think we can close this!

There

[2016-06-26 23:20] #37 closed

[2016-06-26 23:23] armahillo opened #63 "N+1 Behavior with Diaper Drive totals by day helper"
in `dashboard.rb`:

[code]

and that partial has:

[code]

I'm not sure there's a way to collapse this query to be more efficient -- can you group_by created_at, extracting it out by day?

This isn't a critical fix -- other queries on dashboard have been tuned so this is OK, but we should fix it in next version.

[2016-06-27 00:28] cattywampus commented on #40
You've identified a lot of serious things to consider in regards to reversing a donation, and here's the thing - we don't know that the customer actually needs to do this yet. I would recommend avoid scope creep and inventing new requirements without direction from the customer on this.

Sometimes it's better to stick with what works and add the simplest change. Using an "Are you sure?" prompt to

[2016-06-27 00:46] cattywampus commented on #63
Yes you can. The trick is to use the database's `date` functions to create new columns that format your timestamped field to use any date representation you want (year, month, day, hour, etc). Placing this in your `#select` call and providing a custom name makes it available to your `#group` clause. This makes it possible to do fun things like count transactions by day or view daily trends average

[2016-06-27 00:53] cattywampus commented on #63
Food for thought: As we start to use database functions, we need to be conscientious about using vendor specific functionality. Since our dev/test databases are sqlite3 and our production database is PostgreSQL there is a possible risk that changes like this might not be portable between database providers.

Since this is a simple date function I doubt we run much risk of that, but it's worth keep

[2016-06-27 12:56] armahillo commented on #63
@cattywampus Good point re: vendor-specific DB functions. I had done sqlite3 initially so we could not have to sweat doing DB config on all the machines -- makes sense to move towards something more reliable by making it PG across the board, though.

[2016-06-27 12:57] armahillo commented on #40
Sounds good to me! I think the "Are you sure" should also indicate that it cannot be undone.

[2016-06-27 13:05] tmobaird commented on #40
Did you guys want me to tackle adding this "Are you sure?" alert in at some point today?

[2016-06-27 13:06] armahillo commented on #40
@tmobaird Go for it!

[2016-06-27 17:10] christine-sm commented on #54
The above sound like a good plan to me. What is XHR? Is that related to the HTTPRequest?

[2016-06-27 17:14] armahillo commented on #54
XHR = XmlHttpRequest, or "ajax", yeah.  :)

[2016-07-04 23:55] pdxdiaperbank opened #65 "Barcode Scanning for Tickets"
Hi all,

Similarly to how we can scan diapers into inventory via the bar codes, we would also like this feature for tickets (ongoing diapers) as well.  Thank you!

Rachel, PDX Diaper Bank

[2016-07-05 00:11] pdxdiaperbank opened #66 "Inventory Transfers"
Hi all,

*I would rate this request as very important.

PDX Diaper Bank must be able to transfer inventory from one storage location to another. Being able to scan the item barcodes onto the system for the transfer would be a huge time saver as well. The following details should be noted in the system for each transaction:

1) Date of transfer
2) Location the items are be transferred from
3) Locat

[2016-07-05 00:24] pdxdiaperbank commented on #53
@tmobaird -
We LOVE all of the charts!! Any chance we can add them all?? Data is SO important for nonprofits. We use these statistics for our annual report, marketing, fundraising, and grant writing. This would be so fantastic!!

~Rachel

[2016-07-05 00:41] pdxdiaperbank commented on #54
@armahillo , @cattywampus , & all:
I did notice the difference in the "flow" when creating a ticket vs. a donation/receipt. Although the process is inconsistent, it is something that we can work around. But, if it is a fairly simple fix without complications, feel free. :)

[2016-07-05 12:47] armahillo commented on #65
This is related to #54

[2016-07-05 12:48] armahillo commented on #66
@pdxdiaperbank These transfers are different than when you disburse diaper packages through "Tickets" right?

[2016-07-05 12:51] armahillo commented on #40
removed from MVP -- we need more information about client needs before addressing this.

[2016-07-05 12:56] armahillo commented on #54
@pdxdiaperbank We'll see what we can do. :)

This is related to #65

[2016-07-05 14:02] tmobaird commented on #53
@pdxdiaperbank Hey Rachel, thanks a ton for that!! I'm glad to hear it!

I can add more charts for the rest of the data ASAP. Are there any specific statistics you would like to request to be displayed in a chart?

[2016-07-05 16:05] pdxdiaperbank commented on #66
@armahillo ,
Exactly right. Tickets remove the items from inventory all together (those are the diapers that we distribute to our partner agencies/families in need). Transfers would shift the items from one storage location to another, while still leaving them in inventory. Inventory transfers happen pretty regularly. For instance, I just transferred about 10,000 diapers from our bulk storage loca

[2016-07-05 16:19] cattywampus commented on #54
@pdxdiaperbank do you prefer the workflow for how donations are entered or how tickets are entered (ignoring the barcode stuff for now)?

The difference being donations require you to create them first, add items to it, and the mark the donation as completed. Whereas when you create a ticket, you input everything in one shot, selecting each of your inputs and adding items, and then clicking the cr

[2016-07-05 16:26] cattywampus commented on #63
@armahillo do we have any more N+1 query issues or optimizations to make? If not, since PR #67 was merged then we should close this out.

[2016-07-05 16:32] armahillo commented on #63
We're solid, AFAICT. Nice work :)

[2016-07-05 16:32] #63 closed

[2016-07-05 16:53] pdxdiaperbank commented on #54
@cattywampus Yes, the ticket flow is probably preferable. Makes a little more sense. :)

[2016-07-05 16:55] cattywampus commented on #54
Thanks for the input.

[2016-07-05 18:26] pdxdiaperbank commented on #53
@tmobaird Thanks, Thomas!  Let me give this a little more thought and get back to you shortly. One thing I can think of on the top of my head is a quick "snapshot" on the dashboard of items ticketed/received (this is a screenshot of my current dashboard in this capacity. I look at it a lot. It's very helpful reference  throughout the year to be sure we are meeting our diaper distribution goals).

[2016-07-06 13:53] tmobaird commented on #53
@pdxdiaperbank that's perfect, I'll start adding the "snapshot" of items to the dashboard.

In regards to enlarging, this should definitely be possible. I will look into adding this and possibly a download functionality for the charts, so you have the ability to print them.

Thanks!!

[2016-07-07 18:23] pdxdiaperbank commented on #53
@tmobaird You Rock. I am working outside the office this week, however, when I return I will gather some ideas I have there about graph/chart possibilities that would be helpful. Thanks, Rachel

[2016-07-11 16:08] pdxdiaperbank commented on #53
@tmobaird , I've created a ticket in the database, however, I noticed that no data popped up on the dashboard graph for tickets. Is that something that you are currently working on? I wanted to ask before I created it as a separate issue. Thanks!

[2016-07-11 16:20] pdxdiaperbank opened #70 "Donation Source List"
Hi all,

This *should* be a quick fix--
When creating a new donation, I am given a drop-down menu with source list-- Is it possible to make this list editable? At a minimum, it would be great if we could add "Misc. Donation" to the list; sometimes the sources in which we received donations don't always fit into the three categories that are there. Thank you!! :)

![screenshot 2016-07-11 09 15 34](

[2016-07-11 17:04] tmobaird commented on #53
@pdxdiaperbank yep, it's something I'm working on! I should have that up in the next few days!

[2016-07-11 17:35] armahillo commented on #53
@tmobaird Is that dashboard graph for tickets the one covered by #68 ? I don't want to hold that up -- I'll do the database config commits in a separate commit.

[2016-07-11 17:36] pdxdiaperbank opened #71 "Adding Package/Box Quantities Once Scanned"
Hi all,

The scanner is like a DREAM, truly! This is amazing! For optimal functionality, however, we would love a feature/function added (I would rate this as *important* b/c if the feature isn't added, optimal time isn't saved which is unfortunate)...

As you know, I currently scan each package/box's barcode which I've assigned a _diaper_ quantity to. But, let's say I happen to have 20 packs/boxe

[2016-07-11 17:37] tmobaird commented on #53
@armahillo nope! it's a separate one that I should have knocked out by today or tomorrow

[2016-07-11 17:39] pdxdiaperbank commented on #53
Thanks, @tmobaird and @armahillo!!

![t hanks](https://cloud.githubusercontent.com/assets/20074085/16740385/bc62e028-4753-11e6-9e3e-f7be594aea9e.jpeg)

[2016-07-11 17:42] armahillo commented on #71
We can definitely do this.

I am hearing that this is a very important feature for time optimization. I'd like to mark this as  a feature for the next milestone so that we can get this first milestone closed out and done. (All this means is that existing "MVP" issues/bugs will be prioritized to be resolved _first_ before this one does). I've marked the MVP deadline as July 31, so this feature woul

[2016-07-11 17:47] armahillo commented on #53
@tmobaird Sounds good! I'll be on the lookout. I just merged #68 and am working on DB config issues now. Should have that finalized soon I think.

[2016-07-11 17:50] armahillo commented on #70
I got this.

Would you expect to find this as a menu item under "Donations" or under "Inventory"?

[2016-07-11 18:06] pdxdiaperbank commented on #71
@armahillo Just fine! :)

[2016-07-11 18:11] pdxdiaperbank commented on #70
@armahillo , Probably under the inventory menu button just because that is where all of the editable lists seem to be.

[2016-07-11 18:50] pdxdiaperbank opened #72 "Improving Tickets (a 2-3 part issue)"
Hi all,

This should be my final request (for today anyway;) -

As you know, tickets are created for our outgoing donations to each of our partner agencies. When we provide a partner agency with diapers each month we provide them with an invoice (in the case of the new database it would be called "ticket details"). Currently, the only way I can print the form is from my computer's _print preview_

[2016-07-13 23:15] seanmarcia commented on #72
If anyone has the ability to create a pdf with the pdx diaper bank logo and the other details (except the things that will be filled in from the ticket) I'll take care of code that inserts the ticket items into it :) I built a stationery ordering platform for a university and have a bit of experience with this :)

[2016-07-13 23:28] cattywampus commented on #72
@seanmarcia I can tackle the pdf report portion. I've worked with prawn and wicked_pdf before.

[2016-07-14 05:46] cattywampus commented on #72
@pdxdiaperbank Here's a PDF report I gen'd up. Please give me any feedback you have. Let me know exactly what type of information you want to be included on the invoice (i.e. Partner address, PDX phone number, section headings, etc...)

[pdx_ticket_3.pdf](https://github.com/rubyforgood/pdx_diaper/files/363049/pdx_ticket_3.pdf)

I also added the category groups when viewing the ticket. Currently th

[2016-07-14 13:51] seanmarcia commented on #72
Awesome job @cattywampus!

So you know, I'm going to take credit for this ;)

[2016-07-14 14:34] seanmarcia commented on #72
The only thing we need to account for now is how the styling hold up on when it is a really large order and it overflows onto two pages. I've used prawn but not prawn-rails so the DSL is a little different than I am used to and I wasn't able to tell just by looking at the code what will happen but I'll definitely test when I get home tonight.

Also, in the print.pdf.prawn file on line 65 we should

[2016-07-14 15:50] cattywampus commented on #66
Has anyone started working on this? I don't see anyone assigned, and since it's scheduled for MVP it should get started immediately. I'll pick this up unless someone else has started it or wants to tackle it. Let me know.

[2016-07-14 15:59] armahillo commented on #66
@cattywampus Go for it! I've got a couple that I'm working on right now but hadn't started on this one. Feel free!

[2016-07-14 16:00] cattywampus commented on #72
Thanks @seanmarcia! I'm all about making result align with the business language. Let's do that.

`prawn-rails` pulls in `prawn` proper and sets up some initial boilerplate such as automatically starting new prawn documents and detecting prawn templates. Personally, I think I would prefer to instantiate the document class object manually. My prawn template doesn't seem to run within the context of

[2016-07-14 16:00] armahillo commented on #72
You guys rock. :+1: :+1: :+1:

[2016-07-15 20:50] pdxdiaperbank commented on #72
This is fantastic, thanks everyone! Thanks for jumping in too, @seanmarcia !

 @cattywampus , I REALLY like the changes to the ticket with the addition of the category breakdown! The only thing I can think to add (and this is a WISHLIST kind of thing, not absolutely necessary for functionality) is a comment box (we sometimes have a special note for the partner agency pertaining to their order fulf

[2016-07-15 20:56] pdxdiaperbank commented on #66
Thanks for tackling this, @cattywampus !

[2016-07-25 03:51] seanmarcia commented on #72
I made a couple fixes to this branch. When there are enough items to cause there to be two pages the page numbers overwrite as seen below:

![](http://i.imgur.com/2A0ULCv.png)
After the change it looks as expected:
![](http://i.imgur.com/gFeTc3Y.png)

[2016-07-26 20:47] pdxdiaperbank commented on #66
Hi @cattywampus ,  Just a friendly follow-up on the progress conducting inventory transfers... Do we have a estimated completion date for this?  I had a large inventory transfer a couple weeks back and in order for me to create my invoices for our most recent diaper distributions to our partner agencies, the  information from the transfer has to be entered first... Thanks!

[2016-07-26 20:53] armahillo commented on #66
If @cattywampus can't get to it, I should have some time later this week. I'm finishing up a contract this week. :)

[2016-07-31 21:12] seanmarcia commented on #72
hey @pdxdiaperbank I added the comment functionality but I wanted to be clear that you wanted it  to show up in the pdf that you print/send and not just something for your internal records. Let me know and I'll add it to the pdf as well.
[Comments with dummy text](http://i.imgur.com/rhSTY9t.png)
If it should look like this then the code is ready :)
[PDF with comments](http://i.imgur.com/6EoISqe.pn

[2016-07-31 22:12] pdxdiaperbank commented on #72
Love it, @seanmarcia! Yes, the comments should carry over to the printable PDF. :)

Also, would you mind adding a title to top of the PDF (in bold)? I'm thinking "Partner Agency Invoice". Visually I'm thinking on the top right side underneath the business address (with a gap/space between). But whatever is easiest. Much appreciated!!

[2016-07-31 22:13] pdxdiaperbank commented on #66
Thanks, @armahillo!

[2016-07-31 22:22] seanmarcia commented on #72
Updated to look [like this](http://i.imgur.com/gwG2pBu.png)

[2016-08-04 00:04] seanmarcia commented on #70
I tweaked the `donation.rb` to add "Misc. Donation" and the quick fix is ready to go and already in master. Maybe we should make it part of the Mark 2 stretch goal of making it an editable field.

[2016-08-04 03:43] #72 closed

[2016-08-07 17:27] armahillo commented on #70
@seanmarcia I like this idea! I'll create the issue and tag it Mark 2, and reference your comment.

This issue appears to be resolved with your commit. Thanks!

[2016-08-07 17:33] armahillo opened #75 "Make "Misc Donation" an editable field"
In #70 , @seanmarcia suggested ( https://github.com/rubyforgood/pdx_diaper/issues/70#issuecomment-237412634 )

Current function is that it's a single drop-down list, populated from an array of Strings, found in `/app/models/donation.rb`.

This would need to probably refactor sources to be a separate model (so that "other" is an option) *or* it could add an additional "misc_comment" column to the `

[2016-08-07 17:33] #70 closed

[2016-08-07 17:40] armahillo commented on #54
Since the other 2 MVP Issues are already assigned, I'll take this one! @cattywampus are you still good on managing the other issue? Or do you want to swap?

[2016-08-07 18:34] armahillo commented on #54
I've got an in-progress branch that replicates the functionality of Tickets, but in Donations. Trying to noggin through the barcode trickery while keeping the Ticket workflow.

Found this: https://stackoverflow.com/questions/1954773/rails-nested-attributes-javascript-add-another

Any thoughts on this, @cattywampus ?

[2016-08-14 16:20] seanmarcia commented on #66
I've started on this. The first pass I'm making is similar to how tickets work since I don't currently have access to a barcode scanner and I want to get something out the door as soon as possible. We'll add in the barcode functionality into the Mark 2 milestone. :)

[2016-08-14 17:32] armahillo commented on #66
I dig it! Thanks @seanmarcia

I forget which issue it was, but I suggested making the barcode scanner code a partial that we can import in multiple places, since it would already be useful in 2 places, and this would be a third one. That can be mk2 feature tho for sure. :D

[2016-08-14 18:12] seanmarcia commented on #66
I also created an in-progress label in case people want to label things that are being worked on :)

[2016-08-15 23:10] armahillo commented on #54
OK I pushed up my progress so far. I'm kinda stuck on this -- The current method uses the "Rails Way" of doing has_many containers in the nested form, and it'd be nice to maintain that because it's clean and encapsulates a lot of the UI logic -- but I'm not sure how to do the barcode addition while still maintaining that -- is that even possible?

Any thoughts @cattywampus or @seanmarcia ?

[2016-08-16 00:49] seanmarcia commented on #54
I'll have to dig deeper into the bar code functionality. I actually haven't looked yet into how the bar code part works... I've been putting it off until I can get my hands on a reader.
I'll grab the branch and look in a bit.

[2016-08-19 17:05] armahillo commented on #54
@seanmarcia Barcode is simpler than it seems. It just inputs the string of text (numbers mainly) and fires a carriage return. You can simulate it by literally doing that manually.

[2016-08-21 15:36] pdxdiaperbank commented on #66
Thanks for chipping away at all of this, everyone! I'm just settling back in from an "off the grid" vacation w/o WIFI, so I'm just catching up on things.... How's it going? Anything you need from me?

[2016-08-21 16:51] armahillo commented on #53
Just realized this change wasn't yet deployed! Just deployed it and graphs are showing up in dashboard. Looks awesome.

I think we're all good here now, right @tmobaird ?

[2016-08-21 16:51] #53 closed

[2016-08-21 17:04] tmobaird commented on #53
@armahillo yep! 👍 If @pdxdiaperbank has requests for any additional charts in the future, we can just create more specific issues for those

[2016-08-24 02:58] seanmarcia commented on #66
I pushed the branch `inventory_transfer` that will close this issue. It _heavily_ borrows from the ticket model/controller/etc and should be refactored.

[2016-08-24 13:42] armahillo commented on #66
Awesome, thanks Sean!

[2016-08-24 13:59] armahillo commented on #66
@seanmarcia TY for the heads up about the refactoring. If it works for now that's good enough to get MVP done.

[2016-08-24 15:33] seanmarcia commented on #54
That's pretty nifty. Isn't there a library or something that converts barcode to ascii or something like that? I assumed that some sort of translation occurred somewhere that needed to be accounted for :)

Can we print "custom" barcodes and use the barcode scanner to read them? I was thinking about the issue about quantity #71 and was wondering if would could just have two fields that are scanned.

[2016-08-24 16:03] armahillo commented on #54
The translation from barcode to ASCII is done by the barcode reader itself, I think.

Doing custom barcodes would certainly be a possibility but that would have to be a Mark2 feature I think.

The way the workflow happens right now (on the existing app): You can a barcode in, and it checks the DB for existing records for that item -- if it finds none, then you specify what it is and the quantity f

[2016-11-16 00:01] seanmarcia opened #80 "Scale Integration"
Hey @pdxdiaperbank we're going to start working on the the scale integration to the app and had a couple questions on how it should work.

We're currently envisioning it is as follows:

* You click on the scale tab
* You click on the diaper type (ie- disposable inserts)
* You dump the diapers into a container on the scale
* It displays how many diapers are in the container (ie - 82 diapers)
* You

[2016-11-16 00:42] pdxdiaperbank commented on #80
Hello! This is awesome...

My thoughts are that it should specify the following:

1) Type (disposable baby, disposable adult, etc)

2) Size (NB, 1, 2, 3, etc.)

3) Count

Would that work?

Rachel
Sent from my iPhone

[2016-11-16 15:20] seanmarcia commented on #80
Sounds doable :)

[2017-03-07 00:05] pdxdiaperbank opened #83 "Alphabetize All Drop-down Menus"
Hi @armahillo and all,

Please alphabetize all drop-down menus in the database to make it easier to spot the item we're looking for. Right now, it shuffles the the items around based upon popularity/use, which makes it difficult to easily locate an item.

Thanks!
Rachel

[2017-03-07 00:18] pdxdiaperbank opened #84 "Problem w/ Dashboard Filter (Results Not Accurate)"
Hi @armahillo and all,

The "filter by date" dashboard function isn't working properly. When the date range is changed in the filter, the numbers/results on the dashboard don't change/update properly. It seems like some graphs *might* be working okay (i.e. the diaper drive chart), but other than than that I'm really not sure. For example, I can tell that the "ticket totals" and the "donation total

[2017-03-08 22:52] seanmarcia commented on #84
Looks like the PR I submitted corrects this.

[2017-03-09 01:07] seanmarcia commented on #83
Which dropdown menus?

I'm not super familiar with the App so I want to make sure I'm sorting the right stuff! :)

[2017-03-09 01:28] pdxdiaperbank commented on #83
Honestly, all of them would be phenomenal. But most importantly: the drop down inventory list when inputting a donation and the list when entering a donation. :)

Thanks,
Rachel

Sent from my iPhone

[2017-03-09 01:53] cubadomingo commented on #83
I'd love to tackle this if possible!

[2017-03-09 02:10] pdxdiaperbank commented on #83
Oops. Sorry, I meant to say the inventory drop-down menus on both the ticketing page and the donation page.

Rachel
Sent from my iPhone

[2017-03-09 03:52] armahillo commented on #84
@pdxdiaperbank I *am* definitely seeing some changes when I do different date filters -- can you confirm that it's behaving correctly now, or if not, tell me what you're expecting to happen? (It's possible that some of the dashboard widgets might be behaving differently by design but that's something we can change)

[2017-03-09 03:55] armahillo commented on #83
@cubadomingo Go for it! Put in a PR when you're ready and I'll review it & re-deploy within 24H.

[2017-03-09 04:18] armahillo opened #86 "Items page should show current inventory totals, broken down by storage location"
When I visit `/items/X`, it shows the data about the item with id X, but it does not show the current holdings total. I think that it should.

Also the `/items` route should display a "total held" column for each item.

I can probably get this one but if someone else is bored and wants to, feel free!

[2017-03-09 18:57] pdxdiaperbank commented on #84
@armahillo Here's a FEW things I'm observing:

1) The two red/green blocks at the top of the dashboard page don't adjust correctly. From my understanding, these two figures (items ticketed/donated) should change according to the time frame inputted in the filter.

2) I'm also finding is that the filter doesn't work properly if the end date is left as the current day's date. You can adjust the star

[2017-03-10 14:01] #83 closed

[2017-04-09 19:27] seanmarcia commented on #80
Couple relevant links for this:

https://developer.chrome.com/apps/hid
https://keetrax.com/blog/2015/01/interacting-usb-hid-devices-web-apps/

Anyone know what happened to the scale I brought to R4G last year? :)

[2017-05-12 16:08] armahillo commented on #84
N.B. for 2017 -- This issue may or may not be ActiveAdmin related, so I'm not migrating the issue to the new repo, but will keep it here in case it comes up again.

[2017-10-27 19:19] mcshakes commented on #86
@armahillo Definitely bored and looking to help if this is still needed

[2017-10-27 19:27] seanmarcia commented on #86
Hey @mcshakes this is the project we delivered to our stakeholder last year. Due to demands from other diaper banks we're turning what we build them in to a multi-tenant application. We'd love help and PRs on it! You can find the project at: https://github.com/rubyforgood/diaper

[2017-10-27 19:32] seanmarcia commented on #86
@mcshakes You should join us in slack, grab and invite at rubyforgood.herokuapp.com, and then find us in the #diaper channel!

[2017-11-27 04:36] pdxdiaperbank opened #88 "Add Dates to Donations/Distributions Lists"
On any page that has an ongoing/running list of submissions e.g. the Donations and Distributions pages, please add a column on the far left side for the dates of each transaction (preferably in this format: 12-05-2017). Please title the date columns "created".

[2017-11-27 04:47] pdxdiaperbank opened #89 "Add Tare Input Option to Manual Scale Function"
Some diaper banks may be weighing the diapers inside a container, some in a ziplocks, and others after wrapping them in plastic wrap (and sometimes with added info inside). Please add a tare input option so each organization can subtract that weight in order to get a correct diaper total.

[2018-01-03 20:41] pdxdiaperbank opened #90 "Changes to "Loose Donations" by Weight (Scale Function)"
Please update the following:

1. On main drop-down menu: Change terminology "Loose Donations" to "Repackaged Donations"
2. On Dashboard: You should be able to access the scale function by clicking on the big NEW DONATION quick button on the dashboard (instead of having to hunt for the function in the menu which isn't as intuitive or easy). Once you click on New Donation button, it should have the

[2018-01-03 22:27] seanmarcia commented on #90
I love the screenshots!!! As an aside, what are you using to draw on the screen, it is so much nicer than the tool I use :)

So I understand your issues correctly:
1) No questions!
2) For the button, are you thinking something like this:
![](https://i.imgur.com/7s7W7rh.png)
3) The scale actually does that but since you asked it is obviously in a non obvious place! We can definitely move it to wher

[2018-01-03 23:06] pdxdiaperbank commented on #90
That all sounds great, thank you!! I'm glad my notes made sense. I like the
new drop down menu button. :)
Maybe change the verbiage on organization setup page to "Default Intake
Location" (just to make it more clear)?

*Thank you,Rachel AlstonExecutive Director, PDX Diaper BankP.O. Box 22613,
Portland OR 97269www.pdxdiaperbank.org <http://www.pdxdiaperbank.org>*

*"Inspiring Hope, Health, and Happ

[2018-05-31 18:40] pdxdiaperbank opened #91 "Add Function for New Users - Inputting Baseline Inventory Data"
New users must enter their baseline inventory data prior to using Diaper Base. As a new user, we felt a bit confused on how to make this happen. It wasn't intuitive, and honestly, we just had to get creative!

We suggest adding some kind of "Add Baseline Inventory (New Users)" option in the drop-down inventory menu. The new user would enter: Items type, sizes, and storage location. Having the opti

[2018-05-31 18:49] pdxdiaperbank opened #92 "Change Title on Distribution Manifest Page"
Change Title on Distribution Manifest Page (has nothing to do with diaper drives).
Change to: "Total Items Distributed".

![screenshot 2018-05-31 10 51 08](https://user-images.githubusercontent.com/20074085/40801772-9abdc16a-64c8-11e8-9184-01fe3668cfc0.png)

[2018-05-31 18:54] pdxdiaperbank opened #93 "Remove Time Stamps on Inventory Adjustment Page"
Remove time stamps on inventory adjustment page, as they won't match for everyone.
Just the date of the transaction is fine.

![screenshot 2018-05-31 11 51 22](https://user-images.githubusercontent.com/20074085/40801935-16f8bee2-64c9-11e8-8d53-21adf79519d4.png)

[2018-05-31 19:07] pdxdiaperbank opened #94 "Prevent Accidental Data Deletions - Add an "Are You Sure" Prompt"
Currently, it is MUCH to easy to potentially delete data at just a click of a button. To prevent disaster, please add an "are you sure you want to delete?" prompt which requires the person to approve the request prior to its final deletion. This feature should exist ANY time there is a delete button throughout the database.

![screenshot 2018-05-31 11 59 22](https://user-images.githubusercontent.c

[2018-05-31 19:18] pdxdiaperbank opened #95 "Drop Down Menu Missing Storage Locations (Creating Inventory Adjustments)"
Not sure why, but our complete list of storage locations didn't pull up here:

![screenshot 2018-05-31 12 13 48](https://user-images.githubusercontent.com/20074085/40803125-9684f3a8-64cc-11e8-8a0c-ae76768d354a.png)

Browser used: Chrome

[2018-05-31 19:21] pdxdiaperbank opened #96 "Inventory Adjustments - Must be Fully Editable & Deletable"
All Inventory adjustment transactions should be fully editable (as well as deletable). We already made an error, with no way to adjust. Eek.

[2018-05-31 19:27] pdxdiaperbank opened #97 "Remove Users (Diaper Bank Business Names) from Drop-Down Menu!"
When editing an individual adjustment transaction, there is a drop-down list of ALL diaper bank organizations/users of Diaper Base. This should NOT be visible to everyone, as well as even an option in the first place (since you should only be editing you own inventory).

![screenshot 2018-05-31 12 22 47](https://user-images.githubusercontent.com/20074085/40803507-a848eaee-64cd-11e8-9488-53af5d932d

[2018-05-31 19:33] pdxdiaperbank opened #98 "Broken Button (Editing Inventory Adjustments)"
This Button:
![screenshot 2018-05-31 12 30 05](https://user-images.githubusercontent.com/20074085/40803940-c592896a-64ce-11e8-9bd5-44e2647db3f7.png)

Leads to this Error Message:
![screenshot 2018-05-31 12 30 19](https://user-images.githubusercontent.com/20074085/40803944-c715cffe-64ce-11e8-9da0-3ae1db7497f2.png)

[2018-05-31 19:48] pdxdiaperbank opened #99 "Date Entries/Inconsistencies - Important for Future Map Developments?"
Currently, when entering addresses of DONATION SITES, you input the address into a single field which creates inconsistencies in formatting. Since we've discussed adding map functions to Diaper Base, I wanted to bring this to our attention, as it may create an issue for future developments.

![screenshot 2018-05-29 10 05 06](https://user-images.githubusercontent.com/20074085/40804451-298668dc-64d0

[2018-05-31 19:56] pdxdiaperbank opened #100 "Partner Agency CSV Upload - Error Message Received"
I forgot to take a screenshot of the specific error message (I believe that it was "we're sorry, but something went wrong. If you are the application owner, check logs for more info"), but we tried to upload our PARTNER AGENCIES list via the CSV template and it didn't work (ended up entering them manually). We didn't see any mistakes on the actual spreadsheet itself.

Is there a way for the system

[2018-05-31 20:17] pdxdiaperbank opened #101 "Add Business Name to Diaper Drive Participants"
Create the ability to add the BUSINESS NAME to Diaper Drive Participant contacts (this is more important than an individual contact person since this would change most frequently)

![screenshot 2018-05-31 13 02 07](https://user-images.githubusercontent.com/20074085/40805857-7e23901e-64d4-11e8-84ff-f72d9289d925.png)

On that note, the business name should then be the default for the drop-down menu

[2018-05-31 20:26] pdxdiaperbank opened #102 "Add Ability to Enter Multiple Entries (at least 5) per Page Before Submission"
For those entering information in manually, it would be nice to be able to add multiple locations at once before hitting the submit button, instead of having to open a whole new page each time.

![button to add another agency](https://user-images.githubusercontent.com/20074085/40806315-f104f054-64d5-11e8-8f54-a3277bb52048.png)

[2018-05-31 20:37] pdxdiaperbank opened #103 "Add Ability to Track "Dollars Raised" from Donation SOURCES"
It is EXTREMELY common for diaper drive participants, donation drop-sites, etc. to collect donations and raise funds for diaper banks in addition to diapers. We currently track this on a separate spreadsheet, but it would be great to eliminate that whole thing by adding the function to Diaper Base. Then, at the end of each year, we can see monetary totals from diaper drives, etc., and growth over

[2018-05-31 20:51] pdxdiaperbank opened #104 "Simple Language Change - New Inventory Adjustment Page"
The current language here on how to enter adjustments is a bit confusing:

![screenshot 2018-05-31 13 46 12](https://user-images.githubusercontent.com/20074085/40807558-79568a50-64d9-11e8-9184-bf921a55345e.png)

Here is an example of the current system that I use (Skyware). I like the use of the  (+/-) symbol here, made it very clear on how to enter the adjustment:

![screenshot 2018-05-31 13 44 1

[2018-05-31 20:57] pdxdiaperbank opened #105 "Simple Language Change - Diaper Drive Participants List Page (Under Community)"
Change "Volume" to "Total Diapers".

![screenshot 2018-05-31 13 55 19](https://user-images.githubusercontent.com/20074085/40807940-82f64acc-64da-11e8-9e85-a4af6ba3cd3c.png)

[2018-05-31 21:06] pdxdiaperbank opened #106 "Add Category Drop-Down Menu (Creating NEW Inventory Items)"
When adding a new inventory item into the database, the category that it is "filed" under should be a drop-down list of current/existing categories. Otherwise, too many and duplicate categories will be created over time. Then, if the category that the person wants doesn't exist, there should be an ability to add a new category.

![screenshot 2018-05-31 13 58 35](https://user-images.githubuserconte

[2018-05-31 23:29] #106 closed

[2018-05-31 23:36] #105 closed

[2018-05-31 23:43] #104 closed

[2018-05-31 23:55] #103 closed

[2018-06-01 00:00] #102 closed

[2018-06-01 00:06] #101 closed

[2018-06-01 00:10] #100 closed

[2018-06-01 00:17] #99 closed

[2018-06-01 02:41] #97 closed

[2018-06-01 02:48] #96 closed

[2018-06-01 03:04] #95 closed

[2018-06-01 03:13] #94 closed

[2018-06-01 03:15] #93 closed

[2018-06-01 03:17] #92 closed

[2018-06-01 03:40] #91 closed

[2021-04-21 15:01] #54 closed